/* Estilos para dispositivos de pantalla grande */

.title {
  display: flex;
  flex-direction: column;
  align-content:center;
  padding: 2%;
  flex-wrap: wrap;
  margin: 0;
  color: #ffffff;
}

.bo1{
  background-color: rgb(61, 61, 61);
  padding:2%;
 margin: 2%;
 border: none;
 border-radius: 25px;
 box-shadow: inset -4px -4px 20px 8px rgba(159, 159, 159, 0.25);

}
.bo2{
  background-color: rgb(61, 61, 61);
  padding:2%;
 margin: 2%;
 border: none;
 border-radius: 25px;
 box-shadow: inset -4px -4px 20px 8px rgb(18 102 141 / 25%);

}


.image {
  background-color: black;
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 2%;
  transition: all 0.3s ease-in-out;
}

.parrafo{
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  text-align: justify;
  margin: 2%;
  padding: 2%;
}

