.conteiner {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding: 5%;
    margin: 2%;
  }
  
  .title {
    color: white;
    font-size: 15px;
    margin: 2% 0;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    
  }
  
  .image {
    max-height: 35px;
    min-height:25px
  }
