.imageCard {
  max-width: 65%;
  border-radius: 50%;
}
.tecnologies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  align-content:center;
  padding: 2%;
  flex-wrap: wrap;
  margin: 0;
  color: #ffffff;
}
.card{
   background-color: rgba(0, 0, 0, 0.1);
   padding: 5%;
  margin: 2%;
 border: none;
 border-radius: 25px;
 box-shadow: inset -4px -4px 20px 8px rgb(18 102 141 / 25%);

}

.tecnologyTitle{
  font-size: 18px;
  align-content:center;
  padding: 2%;
  flex-wrap: wrap;
  margin: 0;
  color: #ffffff;
}

.parrafo {
    font-size: 16px;
    line-height: 1.5;
    color: #fffdfd;
    text-align: justify;
    margin: 0;
    padding: 0;
  }

  .image{
    padding: 5px;
    width: 50px;
    padding:10%;
  }
  .imageGit{
    padding: 5px;
    width: 50px;
    margin-top:10%;
  }

  .imgYoutube{
    padding: 5px;
    width: 120px;
    margin-top:10%;
  }



  