.card img {
    width: 200px;
    border-radius: 50%;
}
.tecnologies img{
    width: 60px;
    border-radius: 0%;

}
.tecnologies{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
}
.card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    padding: 50px;
    padding-top:10px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 245, 220, 0.189);
    align-items: center;
    gap:20px;

    
}
.conteiner{
    display:flex;
    flex-direction: column;
}

.card p {
    
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    margin: 0;
    padding: 0;
  }
  
  .card p:first-of-type {
    margin-top: 0;
  }
  
  .card p:last-of-type {
    margin-bottom: 0;
  }

  .body img{
    padding: 5px;
    width: 50px;
  }

  .body{
    padding-top:40px;
  }