body {

  max-height: 100vh;
  overflow: hidden;  
}
.no-scroll {
  /* Debe tener altura específica para que funcione */
  max-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
